<!DOCTYPE html>
<html lang="en-US" ng-app="zerAng" ng-init="person = {fName: 'Derek', lName: 'Banas'}">
	<body>

		<div ng-controller="zerAng">
		  <p>Name : <input type="text" ng-model="name"></p>
		  <h1>Hello {{name}}</h1>

		  <span>Values:</span>
		  <input type="text" ng-model="first" />
		  <input type="text" ng-model="second" />

		  <button ng-click="updateValue()">Sum</button>
		  <br><br>
		  {{calculation}}

		  <p>Your first value is {{first}}</p>
		  <p>Your second value is {{second}}</p>
		 <br><br>
	
		 <p>pic name</p>
		 <input type="text" ng-model="picName" />
		 <br>
		 <p>pic description</p>
		 <input type="text" ng-model="picDesc" />
		 <br>
		 <p>pic URL</p>
		 <input type="text" ng-model="picURL" />
		 <br>
		 <button ng-click="addData()">addtoTile</button>
		 <br>
		 <button ng-click="returnData()">tileData</button>
		 {{results}}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="js/zerAng.js"></script>
	</body>
</html> 